*.iml
*.ipr
*.iws
*.log
*.log.*

.gradle/
.idea/

build/
/gradle.properties
/src/*/resources/application-*.properties
/src/*/resources/application-*.yml
/src/*/resources/messages.properties
/src/*/resources/*_zh_CN.properties